 <!DOCTYPE html>
<html ng-app="Demo">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Instagram Assignment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="instagram.css/dist/instagram.css" />
    <script src="node_modules/angular/angular.js"></script>
    <script src="instagram.css/gulpfile.js"></script>
    
    <script src="app.js"></script>
</head>
<body  ng-controller="instagramCtrl as insta">
  
    <span class="card-image filter-{{valuesoption}}">
        <img src="instagram.css/assets/img/instagram.jpg" class="img-responsive">
    </span>
    <p>{{insta.name}}</p>
    <select ng-model="valuesoption"  ng-change="changeevt()" >
        <option>Select Option</option>
        <option  value="{{x}}" ng-repeat="x in insta.opt"  >
            {{x}}
        </option>
       
    </select>

    {{valuesoption}}
</body>
</html>